{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h1 class="text-center">Pitching app</h1>
</div>

{%for pitch in pitches%}
<style>
	* {
		background-attachment: fixed;
		background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fmiro.medium.com%2Fmax%2F3308%2F1*VgdsW_Z6q-1xnYnaC4Uckw.png&imgrefurl=https%3A%2F%2Fmedium.com%2F%40diegzis%2Fhow-to-pitch-your-creative-idea-b13e0e0ff0a7&docid=6CWtECW3XFs92M&tbnid=BPTxReqJuainkM%3A&vet=10ahUKEwihkZGStYLnAhWrUBUIHY6cCSUQMwhNKAEwAQ..i&w=1654&h=714&bih=588&biw=1296&q=pitching%20an%20idea&ved=0ahUKEwihkZGStYLnAhWrUBUIHY6cCSUQMwhNKAEwAQ&iact=mrc&uact=8');
		background-repeat: no-repeat;
		background-size: cover;
		color: antiquewhite;
	}

	#wow {
		padding: 5%;
	}

	#me {
		margin-left: 50%;
	}
</style>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card" id="wow">
	<div class="well well-lg">
		<h4>Written by: {{pitch.user.username}}</h4>
		<p>{{pitch.content}}</p>
		<p><a href="/pitch/{{pitch.id}}" class="btn btn-primary pull-right">Read</a>
		</p>
	</div>
</div>
{%endfor%}
<div class="container" style="padding-bottom: 20px;">
	<a href="{{url_for('main.new_pitches')}}" class="btn btn-success" id="me">Create pitch</a>
</div>

{% endblock %}